In [1]:
import pandas as pd
import requests
from plyer import notification
import datetime

In [2]:
#Criar a função de alerta de erro
def alerta():
    data_atual = datetime.datetime.now().strftime("%d-%m-%Y %H:%M:%S")

    notification.notify(
        title= "Falha de acesso",
        message="Ocorreu uma falha no carregamentos dos dados da API" + "\nData atual: " + data_atual,
        app_name="Alerta",
        timeout=10)

In [3]:
#Consultar a API e gerar um dataframe com os feriados nacionais
ano = 2023
url =f"https://brasilapi.com.br/api/feriados/v1/{ano}"
response = requests.get(url)
if response.status_code == 200:
    data_json = response.json()
else:
    alerta()
feriados_nacionais = pd.DataFrame(data_json)
feriados_nacionais

          date                      name      type
0   2023-01-01  Confraternização mundial  national
1   2023-02-21                  Carnaval  national
2   2023-04-07         Sexta-feira Santa  national
3   2023-04-09                    Páscoa  national
4   2023-04-21                Tiradentes  national
5   2023-05-01           Dia do trabalho  national
6   2023-06-08            Corpus Christi  national
7   2023-09-07   Independência do Brasil  national
8   2023-10-12   Nossa Senhora Aparecida  national
9   2023-11-02                   Finados  national
10  2023-11-15  Proclamação da República  national
11  2023-12-25                     Natal  national

In [4]:
#Consultar a API e gerar um dataframe com as corretoras ativas no Brasil
url2 ="https://brasilapi.com.br/api/cvm/corretoras/v1"
response = requests.get(url2)
if response.status_code == 200:
    data_json2 = response.json()
else:
    alerta()
corretoras = pd.DataFrame(data_json2)
corretoras_ativas = corretoras.loc[corretoras['status'] == 'EM FUNCIONAMENTO NORMAL']
#Limpar o dataframe deixando apenas as colunas com os dados de contato
dados = ['nome_social', 'email', 'telefone']
corretoras_ativas = corretoras_ativas[dados]
corretoras_ativas

,nome_social,email,telefone
3,ABN AMRO CORRETORA DE T-TULOS E VALORES MOBILI...,canal.comunicacao@br.abnamro.com,30737417
7,"ACTIVTRADES CORRETORA DE CÂMBIO, TÍTULOS E VAL...",rramos@activtrades.com,30542864
12,AGORA CTVM S.A.,ipc.supervisao.corretoras@bradesco.com.br,21786198
16,ALFA CORRETORA DE CAMBIO E VALORES MOBILIARIOS...,jelanir@bancoalfa.com.br,31755050
21,AMARIL FRANKLIN CTV LTDA,investimentos@amarilfranklin.com.br,32358128
...,...,...,...
348,TORO CORRETORA DE TÍTULOS E VALORES MOBILIARIO...,juridico@toroinvestimentos.com.br,36658700
355,TULLETT PREBON BRASIL CORRETORA DE VALORES E C...,juridico@tullettprebon.com.br,21114800
356,"UBS BRASIL CORRETORA DE CAMBIO, TITULOS E VALO...",daniel.bassan@ubs.com,20506500
370,WARREN CORRETORA DE VALORES MOBILIÁRIOS E CÂMB...,compliance@warren.com.br,32372273
372,XP INVESTIMENTOS CCTVM S.A.,lucas.rabechini@xpi.com.br,30272237

In [5]:
#Consultar a API e gerar um dataframe com as taxas de juros vigentes no Brasil
url3 ="https://brasilapi.com.br/api/taxas/v1"
response = requests.get(url3)
if response.status_code == 200:
    data_json3 = response.json()
else:
    alerta()
taxas = pd.DataFrame(data_json3)
taxas

    nome  valor
0  Selic  12.75
1    CDI  12.65
2   IPCA   4.61